@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold');

@media (max-width: 800px) {
	.signUpForm{
    width: 90%;
  }
  .signUpFile{
    font-size: 14px;
  }
}

@media (min-width: 800px) {
	.signUpForm{
    width: 500px;
  }
  .signUpFile{
    font-size: 18px;
  }
}

.formBody{
  width: 100%;
  text-align: -webkit-center;
}

.signUpForm{
  display: flex;
  flex-direction: column;
}

.signUpInput{
  font-family: Inter;
  font-size: 18px;
  color: #1C3144;
  border-radius: 10px;
  border: 1px solid #3F88C5;
  outline: none;
  padding: 6px 10px;
  margin-bottom: 20px;
  background-color: rgba(63, 137, 197, 0.25);
}

.signUpFile{
  font-family: Inter;
}

.disabledInput{
  color: #757575;
}

.inputLabel{
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}

::-webkit-file-upload-button{
  font-family: Inter;
  background-color: #D2D2D2;
  border: 0px;
  border-radius: 30px;
  padding: 5px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.signUpButton{
  font-size: 18px;
  font-family: Inter;
  font-weight: bold;
  justify-content: center;
  display: flex;
  background-color: #3F88C5;
  color: #FFF;
  border: 0px;
  border-radius: 30px;
  padding: 10px 20px;
}

.signUpInputLabel{
  text-align: left;
  margin-top: 0;
}