.adminProfileBody{
  padding: 50px 10%;
  align-items: center;
}

.solicitationBox{
  box-shadow: 5px 5px 10px #a9a9a9;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
  margin-bottom: 40px;
}

.solicitationTextLabel, .solicitationTextData{
  display: inline;
}

.solicitationTextLabel{
  margin-right: 5px;
  font-weight: bold;
}

.solicitationTextLine{
  margin-bottom: 15px;
}

.solicitationButtonBox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.solicitationButton{
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: bold;
}

#accept{
  background-color: #F9A03F;
}

#reject{
  background-color: #1C3144;
  color: #FFF;
}

.adminProfileBox{
  display: flex;
  justify-content: center;
  flex-direction: column;
}