.signInText{
  display: inline;
  font-weight: normal;
}

.signInTextButton{
  display: inline;
  text-decoration: underline;
  color: #1C3144;
}

.signInBox{
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 800px) {
	.signInBox{
    font-size: 14px;
  }
}

@media (min-width: 800px) {
	.signInBox{
    font-size: 16px;
  }
}