.signUpSelect{
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 10px #919191;
  margin: 0px 30px;
  border-radius: 15px;
  padding: 5px 30px;
}

@media (max-width: 800px) {
	.signUpSelect{
    padding: 5px 5px;
    margin: 0px 10px;
  }

  .signUpUser{
    margin: 30px 0px;
  }
}

@media (min-width: 800px) {
	.signUpUser{
    margin: 50px 0px;
  }
}

.signUpUser{
  display: flex;
  flex-direction: row;
}

.signUpBody{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.invalidtrue{
  border-color: #ff6464;
}

.signUpTitle{
  display: flex;
  flex-direction: row;
  color: #1C3144;
  align-items: center;
}