@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold');

body {
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2 {
  color: #1c3144;
}

p {
  font-size: 18px;
}

.headerBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #3f88c5;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 50px;
}

.headerTop {
  margin-top: 20px;
  margin-bottom: 25px;
}

.headerAmadote {
  font-weight: normal;
  font-size: 28px;
  margin: 0px;
  text-decoration: none;
  color: #ffffff;
}

.headerLogo {
  height: 45px;
}

.headerAmadoteMobile {
  font-weight: normal;
  font-size: 28px;
  margin: 10px 20px;
}

.headerBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerTab {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

.headerTab:focus {
  outline: none;
}

.headerTabName {
  margin: 8px 0px;
  font-weight: normal;
  font-size: 18px;
}

.false .headerTabName {
  color: #fff;
}

.true {
  background-color: #fff !important;
  border-top: 1px #1c3144 solid !important;
  border-left: 1px #1c3144 solid !important;
  border-right: 1px #1c3144 solid !important;
  border-bottom: 1px rgba(0, 0, 0, 0) solid !important;
}

.false {
  border-top: 1px rgba(0, 0, 0, 0) solid;
  border-left: 1px rgba(0, 0, 0, 0) solid;
  border-right: 1px rgba(0, 0, 0, 0) solid;
  border-bottom: 1px #1c3144 solid;
}

.headerIcon {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  margin-right: 20px;
  align-self: center;
}

.headerIcon:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.iconTab {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.headerTopMobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalOverlay {
  background-color: rgba(83, 83, 83, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.sidebar {
  position: fixed;
  right: 0;
  background-color: #fff;
  width: 80%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.headerLogoBox {
  display: flex;
  flex-direction: row;
  height: 40px;
  cursor: pointer;
  align-items: center;
  padding: 10px 0px 10px 20px;
  gap: 15px;
  width: fit-content;
}

.headerBottomMobile {
  display: flex;
  flex-direction: column;
  border-top: 1px #8d8d8d solid;
  height: 100%;
  overflow-y: auto;
}

.headerTabMobile {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px #8d8d8d solid;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: start;
  font-family: Inter;
  padding: 10px 20px;
}

.footerBody {
  background-color: #3f88c5;
  display: flex;
  margin-top: 50px;
  padding: 30px 30px;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.footerCategory {
  color: #fff;
  font-size: 18px;
  margin-top: 0px;
  cursor: pointer;
}

.footerHeader {
  font-weight: bold;
}

#footerLogoColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: center;
}

.footerLogo {
  width: 100px;
}

.animalModal {
  background-color: rgba(112, 112, 112, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animalModalBody {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 35px;
  height: fit-content;
  max-height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.animalModalBody::-webkit-scrollbar {
  width: 8px;
}

.animalModalBody::-webkit-scrollbar-track {
  background: none;
}

.animalModalBody::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 20px;
}

.editImagesBox::-webkit-scrollbar {
  width: 4px;
}

.editImagesBox::-webkit-scrollbar-track {
  background: none;
}

.editImagesBox::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 20px;
}

textarea {
  resize: none;
  height: 100px;
}

.animalModalClose {
  align-self: flex-end;
  border: 1px solid #c5741d;
  border-radius: 10px;
  background-color: #f9a03f;
  color: #ffffff;
  font-size: 20px;
  margin-top: -20px;
  margin-right: -20px;
}

.editImagesBox {
  overflow-x: scroll;
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}

.editImage {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.editImageExclude {
  background-color: rgba(186, 0, 0, 0.66);
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.editImageContainer {
  display: flex;
  flex-direction: column;
}

.deleteButtonsBox {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.deleteButton {
  background-color: rgba(186, 0, 0, 0.8) !important;
  align-self: center;
}

.animalModalLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.animalModalLabelTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 10px 0px 0px;
}

.animalModalLabel label {
  margin-right: 20px;
}

.animalButton {
  margin: 20px 0px;
}

.animalModalTitle {
  text-align: center;
}

.deleteAccountModalBody {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 20px;
  padding: 35px;
}

.ACProfileBody {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.ACProfileTitleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ACProfileTitle {
  margin: 0px 20px 0px 0px;
}

.ACProfileAddButton {
  border: 1px solid #1c3144;
  border-radius: 10px;
  background-color: #3f88c5;
  display: flex;
  align-items: center;
  padding: 2px;
}

.ACProfileOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.ACProfileOption {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.ACProfileAnimals {
  margin-top: 30px;
}

.ACProfileAnimalsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: center;
  grid-gap: 30px;
  inline-size: -webkit-fill-available;
  margin-top: 50px;
}

.ACProfileAnimalBox {
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #a9a9a9;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  max-width: 220px;
}

.ACProfileAnimalImage {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 16px;
}

.ACProfileAnimalName {
  font-weight: 600;
  font-size: 22px;
  margin: 0px;
  color: #1c3144;
}

.ACProfileAnimalLabel {
  display: flex;
  max-width: 200px;
}

.ACProfileAnimalKey {
  font-weight: 600;
  font-size: 16px;
  margin: 5px 5px 5px 0px;
  color: #1c3144;
}

.ACProfileAnimalValue {
  font-size: 16px;
  margin: 5px 0px;
  color: #1c3144;
}

.ACProfileAnimalPersonalities {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 200px;
  flex-wrap: wrap;
  margin: 10px 0px;
  height: 52px;
  overflow: hidden;
}

.ACProfileAnimalPersonality {
  background: #1c3144;
  border-radius: 10px;
  padding: 2px 8px;
  height: fit-content;
}

.ACProfileAnimalPersonality p {
  color: #ffffff;
  margin: 0px;
  font-size: 14px;
}

.ACProfileAnimalButton {
  color: #ffffff;
  background-color: #3f88c5;
  border-radius: 16px;
  padding: 8px 25px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.ACProfileHeader {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: #1c3144 1px solid;
}

.ACProfileEditButton {
  color: #ffffff;
  background-color: #3f88c5;
  border-radius: 10px;
  padding: 8px 25px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.ACProfileNameBox {
  display: flex;
  align-items: center;
  gap: 30px;
}

.adminProfileBody {
  padding: 0px 10%;
  align-items: center;
  width: 100%;
}

.solicitationBox {
  box-shadow: 5px 5px 10px #a9a9a9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  margin-bottom: 40px;
}

.solicitationTextLabel,
.solicitationTextData {
  display: inline;
}

.solicitationTextLabel {
  margin-right: 5px;
  font-weight: bold;
  white-space: nowrap;
}

.solicitationTextLine {
  margin-bottom: 15px;
}

.solicitationButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.solicitationButton {
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: bold;
}

#accept {
  background-color: #f9a03f;
}

#reject {
  background-color: #1c3144;
  color: #fff;
}

.adminProfileBox {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signInText {
  display: inline;
  font-weight: normal;
}

.signInTextButton {
  display: inline;
  text-decoration: underline;
  color: #1c3144;
  cursor: pointer;
}

.signInBox {
  text-align: center;
  margin-top: 25px;
}

.formBody {
  width: 100%;
  text-align: -webkit-center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.signUpInput {
  font-family: Inter;
  font-size: 18px;
  color: #1c3144;
  border-radius: 10px;
  border: 1px solid #3f88c5;
  outline: none;
  padding: 6px 10px;
  margin-bottom: 20px;
  background-color: rgba(63, 137, 197, 0.25);
}

.signUpFile {
  font-family: Inter;
}

.disabledInput {
  color: #757575;
}

.inputLabel {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  font-weight: bold;
  color: #1c3144;
}

::-webkit-file-upload-button {
  font-family: Inter;
  background-color: #d2d2d2;
  border: 0px;
  border-radius: 30px;
  padding: 5px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.signUpButton {
  font-size: 18px;
  font-family: Inter;
  font-weight: bold;
  justify-content: center;
  display: flex;
  background-color: #3f88c5;
  color: #fff;
  border: 0px;
  border-radius: 30px;
  padding: 10px 20px;
}

.signUpInputLabel {
  text-align: left;
  margin-top: 0;
}

.signUpSelect {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px #919191;
  margin: 0px 15px;
  border-radius: 15px;
  padding: 15px 15px;
  width: 170px;
}

.signUpContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.signUpUser {
  display: flex;
  flex-direction: row;
}

.signUpBody {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.signUpPersonType {
  font-weight: bold;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

.signUpSubTitle {
  font-size: 14px;
  text-align: center;
}

.checkbox:hover {
  cursor: pointer;
}

.invalidtrue {
  border-color: #ff6464;
}

.signUpTitle {
  display: flex;
  flex-direction: row;
  color: #1c3144;
  align-items: center;
  text-align: center;
}

.passwordTip {
  text-align: start;
  font-size: 14px;
  margin: 0px 0px 20px 0px;
  color: #535353;
}

.inputWithTip {
  margin-bottom: 5px;
}

.homeScroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 30px;
  padding: 20px 20px;
}

.homeScroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d6d6d6;
}

.homeScroll::-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
}

.homeScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #707070;
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeAnimalsSection {
  width: 80%;
}

.homeIntroSection {
  margin: 0px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.homeIntroText {
  margin: 0px;
}

.homeIntroLink {
  color: #3f88c5;
  cursor: pointer;
  font-weight: bold;
}

.homeBannerImage {
  width: 100%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.homeUsers {
  display: flex;
  margin: 20px 0px;
}

.homeUserType {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px #919191;
  margin: 0px 15px;
  border-radius: 15px;
  padding: 15px 15px;
  width: 170px;
  background-color: #1c3144;
  text-align: center;
  gap: 10px;
  color: #fff;
  cursor: pointer;
}

.homePersonType {
  font-weight: bold;
  margin: 0px;
  color: #f9a03f;
}

.homeSubtitle {
  color: #1c3144;
  margin: 10px 0px;
}

.homeDescription {
  margin: 0px;
}

.homeSupportInfo {
  width: 300px;
  text-align: center;
}

.homeSupportButton {
  background: #3f88c5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: #fff;
  font-size: 22px;
  padding: 15px 20px;
}

.animalsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: center;
  grid-gap: 30px;
  inline-size: -webkit-fill-available;
}

.animalsBody {
  display: flex;
  flex-direction: column;
}

.animalsHeader {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-bottom: 20px;
}

.animalsSection {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-self: center;
}

.aboutBody {
  display: flex;
  flex-direction: column;
}

.aboutHeader {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-bottom: 10px;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-self: center;
  justify-content: center;
}

.aboutList {
  display: flex;
  justify-content: center;
  grid-gap: 70px;
  margin: 20px;
  flex-wrap: wrap;
}

.aboutList h2 {
  font-size: 30px;
  padding-bottom: 2px;
}

.aboutCard {
  background-color: #3f88c5;
  box-shadow: 5px 5px 10px #a9a9a9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width: 250px;

  /*text*/
  color: #ffffff;
  text-align: justify;
}

.aboutCard2 {
  background-color: #f9a03f;
  box-shadow: 5px 5px 10px #a9a9a9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width: 250px;

  /*text*/
  color: #1c3144;
  text-align: justify;
}

.aboutLogo {
  height: 200px;
  padding: 30px;
}

.aboutUs {
  height: 180px;
  padding: 20px;
}

.aboutUsHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
  width: 75%;
  margin: 20px;

  /*border*/
  border-color: #1c3144;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 5px 10px #a9a9a9;
  border-radius: 15px;
}

.aboutUsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  /*text*/
  color: #1c3144;
}

.aboutUsCard h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.help {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-bottom: 10px;
}

.helpCard {
  background-color: #1c3144;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  inline-size: auto;
  padding: 15px;
  line-height: 15px;

  /*text*/
  color: #f9a03f;

  /*border*/
  box-shadow: 5px 5px 10px #a9a9a9;
  border-radius: 15px;
}

.helpCard p {
  margin: 10px 0px;
  line-height: normal;
}

.helpPix {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.animalsDescription {
  display: inline;
}

.photoSlider {
  width: 450px;
  max-width: 100%;
  align-items: center;
}

.photoGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr min-content;
}

.animalBody {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  gap: 50px;
  justify-content: space-evenly;
}

#leftAnimalColumn {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.animalPhoto {
  object-fit: cover;
  min-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 16px;
  border: 1px solid #1c3144;
  box-shadow: 3px 3px 3px #a9a9a9;
}

.animalPersonalities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.animalHistory {
  margin-bottom: 30px;
}

.animalData {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.animalData p {
  margin: 4px 0px;
}

.adoptButton {
  background-color: #1c3144;
  color: #f9a03f;
  padding: 20px;
  border: 0px;
  border-radius: 15px;
  max-width: fit-content;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  align-self: center;
}

.animalAdoptionCenterInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.orgInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.orgInfo p {
  margin: 0px;
}

.faqBody {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.faqList {
  display: grid;
  gap: 24px;
}

.faqItem {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.faqQuestion {
  padding: 20px;
  text-align: left;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.faqAnswer {
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.postsBody {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.postsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 300px));
  justify-content: center;
  grid-gap: 30px;
  inline-size: -webkit-fill-available;
  padding-top: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postTitle {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 100ms;
}

.postTitle:hover {
  border-color: #b3b3b3;
}

.fileInputLabel {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.fileInputLabel:hover {
  background-color: #ddd;
}

.fileInput {
  display: none;
}

.dashboardBody {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.dashboardRowTile {
  font-size: 25px;
  margin: 30px 0px 20px 0px;
}

.dashboardRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dashboardBox {
  display: flex;
  flex-direction: column;
  border: #cecece 2px solid;
  border-radius: 20px;
  width: -webkit-fill-available;
  padding: 8px 15px;
}

.dashboardBoxTitle {
  margin: 0px;
  font-size: 14px;
  color: #6e6e6e;
}

.dashboardBoxData {
  align-self: center;
  font-size: 80px;
  margin: 20px;
  color: #f9a03f;
}

.dashboardGraph {
  display: flex;
  flex-direction: column;
  border: #cecece 2px solid;
  border-radius: 20px;
  width: 40%;
  padding: 8px 15px;
  max-height: 400px;
}

.dashboardGraphRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.graphButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.graphButton {
  background-color: #cecece;
  color: #1c3144;
  padding: 7px 15px;
  border: 0px;
  border-radius: 15px;
  max-width: fit-content;
  font-family: Inter;
  font-size: 16px;
}

.graphButtonSelected {
  background-color: #f9a03f;
}

.checkboxValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.checkboxText {
  font-size: 18px;
}

.adoptionsBody {
  display: flex;
  flex-direction: column;
  margin: 0px 20%;
  justify-content: center;
}

.adoptionContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.adoptionBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #a9a9a9;
  padding: 15px;
  cursor: pointer;
}

.adoptionBox img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.adoptionInformation {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.adoptionInformation p,
.adoptionInformation h1 {
  margin: 0px;
}

.adoptionStatusinAnalysis {
  color: #f9a03f;
}

.adoptionStatusconcluded {
  color: rgb(11, 182, 34);
}

.adoptionStatusrejected {
  color: #e94747;
}

.adoptionBody {
  display: flex;
  flex-direction: column;
  margin: 0px 10%;
  justify-content: center;
}

.adoptContainer {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #a9a9a9;
  padding: 30px;
  height: 65vh;
  gap: 20px;
}

.adoptionInfo {
  width: 50%;
}

.adoptionChat {
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px #a9a9a9;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  height: -webkit-fill-available;
  overflow-y: scroll;
}

.chatMessages::-webkit-scrollbar {
  width: 8px;
}

.chatMessages::-webkit-scrollbar-track {
  background: none;
}

.chatMessages::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 20px;
}

.chatBubble {
  padding: 10px 15px;
  width: fit-content;
  max-width: 80%;
  border-radius: 20px;
}

.sender {
  background-color: #f5aa5a;
  align-self: flex-end;
}

.receiver {
  background-color: #6cafe6;
}

.adoptionChatInput {
  width: 100%;
  min-height: fit-content;
  max-height: 40%;
  display: flex;
}

.adoptionChatTextarea {
  font-size: 18px;
  font-family: Inter;
  width: 100%;
  min-height: 1.5em;
  overflow-y: scroll;
  box-shadow: inset 1px 1px 4px #a9a9a9;
  border-radius: 20px;
  padding: 10px;
  outline: none;
}

.adoptionChatTextarea::-webkit-scrollbar {
  display: none;
}

.adoptionAnimalPhoto {
  max-width: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.adoptionAnimalName {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.adoptionInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

.adoptionInfo::-webkit-scrollbar {
  width: 8px;
}

.adoptionInfo::-webkit-scrollbar-track {
  background: none;
}

.adoptionInfo::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 20px;
}

.adoptionOrganizationInfo p,
.adoptionAdopterInfo p {
  margin: 10px 0px;
}

.adoptionAnimalInfo p {
  margin: 10px 0px;
}

.adoptionHouseSituation {
  background: #6cafe6;
  border-radius: 20px;
  padding: 4px 8px;
}

.adoptionHouseSituation p {
  margin: 0;
  font-size: 17px;
  width: fit-content;
}

.adoptionButtonContainer {
  width: 90%;
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.adoptionFinishButton {
  padding: 20px;
  border: 0px;
  border-radius: 15px;
  max-width: fit-content;
  font-family: Inter;
  font-size: 18px;
  align-self: center;
  color: #fff;
}

.adminAdoptions {
  padding-top: 20px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 20px;
}

.animalsFilterContainer {
  min-width: 250px;
  margin: 0px 30px 0px 0px;
}

.adminProfileBox form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textEditorWrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 100ms;
}

.textEditorWrapper:hover {
  border-color: #b3b3b3;
}

.textEditor {
  border-top: 1px solid #ccc;
  min-height: 200px;
  max-height: 50vh;
  border-radius: 5px;
  transition: all 100ms;
}

.textEditor:hover {
  border-color: #b3b3b3;
}

.postButton {
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f9a03f;
  color: #1c3144;
  width: fit-content;
  align-self: flex-end;
}

.postPageBox {
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #a9a9a9;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  gap: 10px;
}

.postPageBox p {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
}

.postPageImage {
  width: 280px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
}

.postPageTitle {
  max-width: 280px;
  font-weight: 600;
  font-size: 22px;
  margin: 0px;
  color: #1c3144;
  text-align: center;
}

.postPageDetails {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.postDetailBox {
  display: flex;
  font-size: 16px;
  margin: 5px 5px 5px 0px;
  color: #1c3144;
}

.postBody {
  display: flex;
  flex-direction: column;
  margin: 0px 10%;
  align-items: center;
  position: relative;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.postBody p {
  margin: 5px;
}

.inPostImage {
  max-height: 50vh;
  width: 100%;
  object-fit: contain;
}

.postContent {
  margin-top: 20px;
}

.ongsBody {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ongBox {
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #a9a9a9;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 15px;
}

.ongCorporateName {
  margin: 0px;
  font-size: 22px;
}

.ongDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ongDetails p {
  margin: 0px;
  font-size: 18px;
}

.ongsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  justify-content: center;
  grid-gap: 30px;
  inline-size: -webkit-fill-available;
}

.animalsOngInfoBox {
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #a9a9a9;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 15px;
  width: 100%;
}

.animalsOngInfoBox h2 {
  margin: 0px;
}

.ongInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.ongInfoColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
}

.ongInfoColumn p {
  margin: 0px;
}

.matchBody {
  display: flex;
  flex-direction: column;
}

.matchHeader {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  align-items: center;
  align-self: center;
  margin-bottom: 30px;
}

.matchHeader p {
  margin: 0px;
}

.matchImage {
  height: 40vh;
  width: auto;
  max-width: 90%;
  object-fit: contain;
}

.matchQuestion {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  align-items: center;
  align-self: center;
  gap: 20px;
}

.matchQuestionText {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.matchQuestionText p {
  font-weight: bold;
  font-size: 22px;
}

.matchButtonBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10%;
  justify-content: center;
}

.matchButton {
  color: #ffffff;
  background-color: #3f88c5;
  border-radius: 10px;
  padding: 15px 25px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.postHeader {
  text-align: center;
  margin-bottom: 20px;
}

.postHeader h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.postHeader p {
  font-size: 16px;
  color: #666;
}

.buttonContainer {
  position: absolute;
  top: 10px;
  right: 20px;
}

.deletePostButton {
  background-color: #e94747;
  font-size: 15px;
  padding: 4px 12px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deletePostButton:hover {
  background-color: #d63030;
}

@media (max-width: 800px) {
  .signUpSelect,
  .homeUserType {
    margin: 0px 10px;
    width: 45%;
  }

  .signUpUser,
  .homeUsers {
    margin: 30px 0px;
  }

  .signUpForm {
    width: 90%;
  }

  .signUpFile {
    font-size: 14px;
  }

  .signInBox {
    font-size: 14px;
  }

  .animalModalTitle {
    font-size: 22px;
  }

  .animalModalLabelTitle {
    font-size: 18px;
  }

  .animalModalBody {
    padding: 20px;
    display: flex;
    align-items: center;
  }

  .animalModalClose {
    margin-top: -10px;
    margin-right: -10px;
  }

  .animalModalLabel {
    font-size: 18px;
  }

  .footerBody {
    flex-direction: column;
  }

  .footerColumn {
    margin-bottom: 20px;
  }

  .animalsTitle {
    font-size: 24px;
    margin-top: 0px;
  }

  .animalsDescription {
    font-size: 16px;
    margin-top: 0px;
  }

  .animalsHeader {
    width: 90%;
  }

  .ACProfileBody h1 {
    font-size: 26px;
    margin-top: 0px;
  }

  .aboutCardTitle {
    font-size: 24px;
    margin-top: 5px;
  }

  .aboutCardDescription {
    font-size: 16px;
    margin-top: 5px;
  }

  .solicitationTextLabel,
  .solicitationTextData {
    display: flex;
  }

  .solicitationTextLabel {
    margin-bottom: 0px;
  }

  .solicitationTextData {
    margin-top: 5px;
  }

  .animalBody {
    flex-direction: column;
    gap: 20px;
  }

  .animalPhoto {
    max-height: 100%;
  }

  #leftAnimalColumn {
    gap: 20px;
  }

  #footerLogoColumn {
    align-items: center;
  }

  .dashboardRow {
    flex-direction: column;
  }

  .dashboardGraphRow {
    flex-direction: column;
    gap: 20px;
  }

  .dashboardGraph {
    width: 93%;
  }

  .adoptionBox {
    flex-direction: column;
  }

  .adoptionBox img {
    max-height: 300px;
    height: max-content;
    min-height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .adoptionBody {
    margin: 0px;
  }

  .adoptContainer {
    width: 100%;
    padding: 30px 0px;
  }

  .adoptionAnimalPhoto {
    max-width: 100%;
  }

  .animalsSection {
    flex-direction: column;
  }

  .animalsFilterContainer {
    min-width: 100px;
    margin: 0px 0px 30px 0px;
  }

  .postPageImage {
    max-width: 280px;
    width: 100%;
  }

  .postPageBox {
    max-width: 80vw;
  }

  .ongInfoContainer {
    flex-direction: column;
    gap: 15px;
  }

  .ongInfoColumn {
    width: 100%;
  }

  .animalsOngInfoBox {
    width: 90%;
  }

  .matchQuestionText {
    flex-direction: column;
  }

  .matchQuestionText p {
    margin: 0px;
  }

  .matchQuestion {
    width: 90%;
  }

  .matchButton {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .adoptContainer {
    flex-direction: column-reverse;
    height: unset;
  }

  .adoptionInfo {
    width: 100%;
    overflow-y: unset;
  }

  .adoptionChat {
    width: 100%;
    height: 70vh;
  }

  .adminAdoptions {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 800px) {
  .signUpUser {
    margin: 50px 0px;
  }

  .signUpForm {
    width: 500px;
  }

  .signUpFile {
    font-size: 18px;
  }

  .signInBox {
    font-size: 16px;
  }

  .footerBody {
    flex-direction: row;
  }

  #PergTitle {
    text-align: center;
  }
}
