@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold');

.footerBody{
  background-color: #3F88C5;
  display: flex;
  font-family: Inter;
  margin-top: 50px;
  padding: 30px 30px;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.footerCategory{
  color: #FFF;
  font-size: 20px;
  margin-top: 0px;
}

.footerHeader{
  font-weight: bold;
}

@media (max-width: 800px) {
	.footerBody{
    flex-direction: column;
  }

  .footerColumn{
    margin-bottom: 20px;
  }
}

@media (min-width: 800px) {
	.footerBody{
    flex-direction: row;
  }
}