@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold');

.footerBody{
  background-color: #3F88C5;
  display: flex;
  flex-direction: row;
  font-family: Inter;
  margin-top: 50px;
  padding: 30px 30px;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.footerCategory{
  color: #FFF;
  font-size: 20px;
  margin-top: 0px;
}

.footerHeader{
  font-weight: bold;
}