@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold');

.headerBody{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Inter;
  background-color: #3F88C5;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 50px;
}

.headerAmadote{
  font-weight: normal;
  font-size: 28px;
  margin: 10px 2%;
}

.headerAmadoteMobile{
  font-weight: normal;
  font-size: 28px;
  margin: 10px 20px;
}

.headerBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerTab{
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: 0px;
}

.headerTabName{
  margin: 8px 0px;
  font-weight: normal;
  font-size: 18px;
}

.true{
  background-color: #fff !important;
  border-top: 1px #1C3144 solid !important;
  border-left: 1px #1C3144 solid !important;
  border-right: 1px #1C3144 solid !important;
  border-bottom: 1px rgba(0,0,0,0) solid !important;
}

.false{
  border-top: 1px rgba(0,0,0,0) solid;
  border-left: 1px rgba(0,0,0,0) solid;
  border-right: 1px rgba(0,0,0,0) solid;
  border-bottom: 1px #1C3144 solid;
  color: #fff;
}

.headerIcon{
  height: 100%;
  background-color: rgba(0,0,0,0);
  border: 0px;
  margin-right: 20px;
  align-self: center;
}

.headerIconMobile{
  height: 100%;
  background-color: rgba(0,0,0,0);
  border: 0px;
  align-self: center;
  padding: 10px 20px;
}

button:hover{
  cursor: pointer;
}

.iconTab{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.iconTabMobile{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  border-top: 1px #8d8d8d solid;
}

.headerTopMobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalOverlay{
  background-color: rgba(83, 83, 83, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.sidebar{
  position: fixed;
  right: 0;
  background-color: #FFF;
  width: 80%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.headerBottomMobile{
  display: flex;
  flex-direction: column;
  border-top: 1px #8d8d8d solid;
  height: 100%;
}

.headerTabMobile{
  width: 100%;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px #8d8d8d solid;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: start;
  font-family: Inter;
  padding: 10px 20px;
}